.contact__img {
  margin: auto 0;
  margin-right: 13px;
  width: 49px;
}
.contact__info {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  padding-right: 15px;
  border-bottom: 1px solid rgba(134,150,160,0.15);
}
.contact__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.contact__name {
  font-size: 1.2em;
}
.contact__msg, .contact__date {
  color: #8696A0;
}
.contact__date {
  font-size: 0.85em;
}