.container {
  background: #111b21;
  padding: 19px;
  width: 100%;
  height: 100%;
  display: flex;
}
.sidebar {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.content {
  flex: 2;
  border-left: 1px solid rgba(233,237,239,0.12);
  height: 100%;
  background: #222e35;
  position: relative;
}
.content::after {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 0;
  content: '';
  border-top: 6px solid #008069;
}