.input {
  display: flex;
  flex: 1;
  height: 35px;
  position: relative;
}
.input__icon {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
}
.input__label {
  visibility: hidden;
  position: absolute;
  height: 0;
}
.input__field {
  background: #202c33;
  height: auto;
  padding: 7px 12px;
  border-radius: 3px;
  width: 100%;
}
.input__field--icon {
  padding: 0 32px 0 65px;
}
.input__field:-webkit-autofill,
.input__field:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}
.input__field::placeholder {
  color: #8696A0
}
.input__field::-webkit-outer-spin-button,
.input__field::-webkit-inner-spin-button {
  -webkit-appearance: none;
}